body {
  height: 100%;
  background-color: #ee8e79;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 44px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-bottom: 5px;
}

a {
  color: #00e;
}

.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.profile-image {
  display: block;
  width: 400px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 200px;
  background-image: url('../images/Screen-Shot-2015-08-21-at-16.27.13.png');
}

.centre {
  position: relative;
  top: 50%;
  display: block;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.social-link {
  width: 32px;
  height: 32px;
  min-width: 0px;
  margin-right: 5px;
  float: left;
  background-image: url('../images/example-bg.png');
  background-size: cover;
}

.social-link.facebook {
  background-image: url('../images/32x32_facebook.png');
}

.social-link.twitter {
  background-image: url('../images/32x32_twitter.png');
}

.social-link.dribble {
  background-image: url('../images/32x32_dribbble.png');
}

.social-link.linkedin {
  background-image: url('../images/32x32_linkedin.png');
}

.social-link.email {
  background-image: url('../images/32x32_email.png');
}

@media (max-width: 479px) {
  .profile-image {
    width: 240px;
    height: 240px;
    background-size: cover;
  }
  .centre {
    width: 240px;
  }
}